.hamburger-menu {
display:none !important;
}
.sidebar-container {
display:none !important;
width: 0px !important;
max-width: 0px !important;
}
.sidebar-container .sidebar_bottom {
width: 0px !important;
max-width: 0px !important;
}
.page_body .centered {
max-width:100%;
}
.page_body {
margin-left:0px;
}
.sticky {
padding-left:0px;
}
body.collapsed-header .page_body .centered-top-container {
padding-left:0px;
}
